
body {
    background-color: #f0f0f0; /* Light gray background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Professional-looking font */
    color: #333333; /* Dark gray text for readability */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
}

/* Style for the heading */
h1 {
    color: #4A90E2; /* Light blue color for the headings */
    font-weight: 600; /* Make headings bold */
    margin-top: 0;
    text-align: center;  /* Center horizontally */
}

h2, h3, h4, h5, h6 {
    color: #333333; /* Dark gray color for subheadings */
    font-weight: 600; /* Make subheadings bold */
}
/* Container for your page content */
.about_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
}
.instructions_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.csv_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.about_us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Style for the footer */
header {
    background-color: black; /* Dark gray background */
    color: #ffffff; /* White text color */
    text-align: center; /* Center text horizontally */
    padding: 0px; /* Add padding to the top and bottom */
    position: fixed; /* Fix the footer to the top of the page */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cecdcd; /* You can adjust the background color */
    border-top: 1px solid #ccc; /* Optional: add a border for a clean look */
}

#foot_png {
    height: 50px; /* Adjust the height as needed */
    width: auto;  /* Ensure the image keeps its aspect ratio */
}

footer p {
    margin: 0;
    font-size: 18px; /* Adjust font size if necessary */
    color: #212121;     /* Text color */
}
